body {
  background-image: url('../asset/bg_top_img.jpg');
}

.titulo {
  grid-area: ti;
  font-family: 'Frijole', cursive;
  font-size: 50px;
  color: rgba(221, 139, 17, 0.575);
  text-align: center;
}

.div-numeros-rnd {
  grid-area: uno;
  text-align: center;
  font-family: 'Frijole', cursive;
  font-size: 30px;
  background-color: rgb(152, 209, 231);
}

.div-controler-dispara {
  grid-area: dos;
  background-color: rgb(21, 68, 52);
  font-size: xx-large;
  text-align: center;
}

.div-controler-bala {
  grid-area: tres;
  background-color: rgb(152, 209, 231);
  font-family: 'Frijole', cursive;
  font-size: 100px;
  text-align: center;
}

.div-controler-mas {
  grid-area: cuatro;
  background-color: rgb(85, 24, 24);
  font-size: xx-large;
  text-align: center;
}

.div-level {
  grid-area: lvl;
  color: rgb(236, 206, 165);
  font-size: xx-large;
  text-align: center;
}


.div-puntaje {
  grid-area: puntos;
  color: rgb(236, 206, 165);
  font-size: xx-large;
  text-align: center;
}


.grid {
  display: grid;
  height: 90%;
  width: 100%;
  padding: 10px;
  margin: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1px;
  grid-template-areas:
    ". ti ti ti ."
    ". lvl uno puntos ."
    ". dos tres cuatro .";
}

@media all and (max-width: 1000px) {
  .grid {
    background-image: url('./bg_top_img.jpg');
    display: grid;
    margin: 0px;
    height: 90%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1px;
    grid-template-areas:
      "ti ti ti"
      "lvl uno puntos"
      "dos tres cuatro";

  }
}